In [12]:
import pymysql
from datetime import datetime
from pytz import timezone
import traceback

import pandas as pd


db_config = {
    # dev 
    # 'DB_HOST': 'ec2-3-37-94-254.ap-northeast-2.compute.amazonaws.com',
    
    # service
    # 'DB_HOST': 'ec2-3-37-175-147.ap-northeast-2.compute.amazonaws.com',
    
    'DB_USER': 'root',
    'DB_PASSWORD': 'ssaa@@1598',
    'DB_NAME': 'quantus', 
}

def connect_to_db():
    db = pymysql.connect(
        user = db_config['DB_USER'],
        passwd = db_config['DB_PASSWORD'],
        host = db_config['DB_HOST'],
        db = db_config['DB_NAME'],
        charset='utf8mb4'
    )

    cursor = db.cursor(pymysql.cursors.DictCursor)

    return db, cursor


def select_all_license_by_user(uid):
    try:
        db, cursor = connect_to_db()
        sql = """
            SELECT *
            FROM quantus.quantus_license
            WHERE uid = {}
        """.format(uid)

        cursor.execute(sql)

        result = cursor.fetchall()

        cursor.close()
        db.close()

        return result
    except:
        traceback.print_exc()

In [2]:
def _query(sql: str = None):
    db, cursor = connect_to_db()
    if sql is None:
        sql = """
            SELECT *
            FROM quantus.quantus_license
        """

    cursor.execute(sql)
    result = cursor.fetchall()

    cursor.close()
    db.close()
    
    return result

def get_all(table):
    sql = f"""
        SELECT *
        FROM {table};
    """
    result = _query(sql)
    # result = _query()

    result_df = pd.DataFrame(result)

    return result_df

In [3]:
def update(table: str, sets: dict, wheres: dict):
    set_fields = list(sets.keys())
    where_fields = list(wheres.keys())
    
    for set_field, where_field in zip(set_fields, where_fields):
        sql = f"""
            UPDATE {table}
            SET {set_field}={sets[set_field]}
            WHERE {where_field}={wheres[where_field]};
        """
        result = _query(sql)
    
    return sql, result

In [5]:
sql = """UPDATE quantus_license SET is_used=False WHERE uid=5;"""

result = _query(sql)

In [ ]:
table = "quantus_license"
sets = {"is_used": 0}
wheres = {"uid": 5}
# wheres = {"serial_number": "PE54XTU3BC1P"}
update(table, sets, wheres)

In [7]:
sql = """
    SHOW TABLES;
"""

# sql = """
#     SHOW DATABASES;
# """
result = _query(sql)
# result = _query()

import pandas as pd
result_df = pd.DataFrame(result)

result_df

               Tables_in_quantus
0                      auth_code
1             quantus_action_log
2                  quantus_gauge
3                quantus_license
4             quantus_membership
5     quantus_membership_history
6        quantus_payment_history
7    quantus_payment_license_key
8   quantus_recommand_strategies
9           quantus_recommanders
10                quantus_status
11            quantus_strategies
12     quantus_supported_tickers
13   quantus_tosspay_raw_history
14                  quantus_user

In [10]:
df = get_all("quantus_recommanders")

df

  recommander_id
0           TEST

In [ ]:
df = get_all("quantus_user")

df

In [11]:
df = get_all("quantus_license")

df[df.uid==5]

# df[df.serial_number=="PE54XTU3BC1P"]

,serial_number,is_used,plan,expired_at,created_at,uid,kinds,used_at,country_type
9,0PU8YM3N88KX,0,(얼리버드) 매일 100게이지 1년권 (글로벌),2025-07-01,2023-01-13 02:10:04,5.0,구독권,NaT,global
27,1GAGHPP0SJN5,0,(얼리버드) 매일 100게이지 1년권 (글로벌),2025-07-01,2023-01-03 07:36:04,5.0,구독권,NaT,global
111,6XKMPR35MSO7,0,(얼리버드) 매일 100게이지 1년권 (글로벌),2025-07-01,2023-01-13 02:10:04,5.0,구독권,NaT,global
171,ASH5PI9I8ZYT,0,(얼리버드) 매일 100게이지 1년권 (미국),2025-07-01,2023-01-13 02:09:49,5.0,구독권,NaT,US
220,D1MSN1M91VQ5,1,(얼리버드) 매일 100게이지 1년권 (한국),2025-07-01,2023-01-13 02:09:17,5.0,구독권,2023-01-13 02:37:46,KR
308,HPBJ8QUPTVVI,0,(얼리버드) 매일 100게이지 1년권 (미국),2025-07-01,2023-01-13 02:09:49,5.0,구독권,NaT,US
457,PE54XTU3BC1P,1,(얼리버드) 매일 100게이지 1년권 (한국),2025-07-01,2023-01-13 02:09:17,5.0,구독권,2023-01-13 02:43:04,KR

In [ ]:
df = get_all("quantus_gauge")

df

In [ ]:
df = get_all("quantus_membership_history")

df

In [ ]:
test = [1, 2, 3]

def test():
    return [1, 2, 3]


test[1]