In [4]:
import pymysql
from datetime import datetime
from pytz import timezone
import traceback

import pandas as pd


db_config = {
    'DB_HOST': 'ec2-3-37-94-254.ap-northeast-2.compute.amazonaws.com',
    'DB_USER': 'root',
    'DB_PASSWORD': 'ssaa@@1598',
    'DB_NAME': 'quantus' 
}

def connect_to_db():
    db = pymysql.connect(
        user = db_config['DB_USER'],
        passwd = db_config['DB_PASSWORD'],
        host = db_config['DB_HOST'],
        db = db_config['DB_NAME'],
        charset='utf8mb4'
    )

    cursor = db.cursor(pymysql.cursors.DictCursor)

    return db, cursor


def select_all_license_by_user(uid):
    try:
        db, cursor = connect_to_db()
        sql = """
            SELECT *
            FROM quantus.quantus_license
            WHERE uid = {}
        """.format(uid)

        cursor.execute(sql)

        result = cursor.fetchall()

        cursor.close()
        db.close()

        return result
    except:
        traceback.print_exc()

In [34]:
def _query(sql: str = None):
    db, cursor = connect_to_db()
    if sql is None:
        sql = """
            SELECT *
            FROM quantus.quantus_license
        """

    cursor.execute(sql)
    result = cursor.fetchall()

    cursor.close()
    db.close()
    
    return result

def get_all(table):
    sql = f"""
        SELECT *
        FROM {table};
    """
    result = _query(sql)
    # result = _query()

    result_df = pd.DataFrame(result)

    return result_df

In [31]:
sql = """
    SHOW TABLES;
"""
result = _query(sql)
# result = _query()

import pandas as pd
result_df = pd.DataFrame(result)

result_df

               Tables_in_quantus
0                      auth_code
1             quantus_action_log
2                  quantus_gauge
3                quantus_license
4             quantus_membership
5    quantus_payment_license_key
6   quantus_recommand_strategies
7                 quantus_status
8             quantus_strategies
9      quantus_supported_tickers
10                  quantus_user

In [35]:
quantus_user = get_all("quantus_user")

quantus_user

,id,sns_id,sns_type,email,nickname,created_at,level
0,2,2325180247,kakao,jaeminyx@quantus.kr,퀀터스운영자,2022-09-27 08:45:56,advanced
1,3,2326160943,kakao,dbsgotjs98@naver.com,윤해선,2022-09-27 08:46:23,None
2,4,2426719016,kakao,asd@asds,123,2022-10-07 02:20:18,intermediate
3,5,2338306404,kakao,ckrgkftjs945@naver.com,testApi,2022-10-25 05:11:50,intermediate
4,6,2505909608,kakao,djaak9604@nate.com,정예빈,2022-12-06 05:40:04,None
5,7,2568334326,kakao,sungji226@gmail.com,test1234,2022-12-09 00:32:36,intermediate
6,8,2518532170,kakao,yeonseo@stoa-investment.com,정연서,2023-01-02 03:59:31,advanced

In [42]:
test = [1, 2, 3]

def test():
    return [1, 2, 3]


test[1]

TypeError: 'function' object is not subscriptable